<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audit logs</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERd`knLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container mt-4 justify-content-center">
    <h1 style="font-family: 'Arial Black'; margin-bottom: 40px">Audit logs</h1>
    <div class="log-list" style="background: #cceeff">
        <div class="flex flexDown justifyBetween alignCenter" style="text-align: center; justify-content: center; align-items: center; margin-top: 60px" th:if="${#lists.isEmpty(logs)}">
            <img src="/images/empty.png" style="height: 160px; width: 120px">
            <div style="font-weight: bold; margin-top: 20px">No logs at the moment</div>
        </div>
        <div class="log-card" th:each="log : ${logs}" th:classappend="${log.logType.toString() == 'INFO' ? 'log-info' : (log.logType.toString() == 'WARN' ? 'log-warn' : 'log-danger')}">
            <div class="log-left">
                <p class="action" th:text="${log.action}"></p>
                <p class="timestamp"
                   th:text="${#temporals.format(log.timestamp, 'yyyy-MM-dd HH:mm')}"></p>
            </div>

            <div class="log-right">
                <p>
                    <b th:text="${log.actor}"></b>

                    <span th:if="${log.actorRole} == 'ROLE_TITIPER'"><b>(Titiper)</b></span>
                    <span th:if="${log.actorRole} == 'ROLE_JASTIPER'"><b>(Jastiper)</b></span>
                    <span th:if="${log.actorRole} == 'ROLE_ADMIN'"><b>(Admin)</b></span>
                    →
                    <span th:text="${log.target} ?: '-'"></span>
                </p>
                <p class="details" th:text="${log.description}"></p>
            </div>

        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>