apiVersion: v1
kind: Secret
metadata:
  name: json-app-local-secrets
type: Opaque
data:
  # Masukkan nilai asli Anda yang sudah di-encode ke Base64.
  # Di Windows PowerShell, Anda bisa mendapatkan nilai Base64 dengan menjalankan:
  # [Convert]::ToBase64String([System.Text.Encoding]::UTF8.GetBytes("NILAI_ASLI"))
  cloudinary-name: <BASE64_ENCODED_CLOUDINARY_NAME>
  cloudinary-key: <BASE64_ENCODED_CLOUDINARY_KEY>
  cloudinary-secret: <BASE64_ENCODED_CLOUDINARY_SECRET>
  admin-password: YWRtaW4= # Base64 untuk "admin"
