<nav th:fragment="navbar" class="navbar">
    <div class="nav-left">
        <a th:href="@{/homepage}">Homepage</a>
    </div>
    <div class="nav-right">
        <a th:href="@{/catalog}">Catalog</a>
        <form th:action="@{/logout}" method="post">
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}" />
            <button type="submit" id="logoutButton" class="btn btn-danger" style="font-weight: bold">Logout</button>
        </form>
        <a th:href="@{/profile}" class="profile">
            <img th:if="${user != null and user.profilePictureURL != null}"
                 th:src="${user.profilePictureURL}" />

            <img th:if="${user == null or user.profilePictureURL == null}"
                 th:src="@{/images/defaultProfilePicture.png}" />
            <span th:text="${user.username}"></span>
        </a>
    </div>
</nav>