<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERd`knLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1>Register</h1>
                <form th:action="@{/register}" method="post">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="usernameInput">Username</label>
                        <div class="col-sm-8">
                            <input id="usernameInput" name="username" placeholder="Enter your username" required class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="passwordInput"> Enter Password   : </label>
                        <div class="col-sm-8">
                            <input id="passwordInput" name="password" type="password" placeholder="Enter your password" required class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="confirmPasswordInput"> Confirm Password : </label>
                        <div class="col-sm-8">
                            <input id="confirmPasswordInput" name="confirmPassword" type="password" placeholder="Enter your password" required class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="fullName"> Enter full name : </label>
                        <div class="col-sm-8">
                            <input id="fullName" name="enterFullName" type="text" placeholder="Enter your full name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="emailInput"> Enter email : </label>
                        <div class="col-sm-8">
                            <input id="emailInput" name="enterEmail" type="email" placeholder="Enter your email" required class="form-control">
                        </div>
                    </div>
                    <button type="submit" id="registerButton" class="btn btn-primary">Register</button>
                </form>
                <p>
                    Already have an account?
                    <a th:href="@{/login}">Login here</a>
                </p>
                <p th:if="${param.userExists}" class="text-danger">Username already exists</p>
                <p th:if="${param.error}" class="text-danger">Passwords do not match</p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>